*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.form{

    margin: 0 10%;
    margin-top: 8%;
    background-color: rgb(226, 159, 77);
    padding: 40px;
    border-radius: 10px;
        text-align: center;

}
.form .input{
    width: 32%;
    height: 46px;
    border: 1px #5f2b2b solid;
    border-radius: 5px;
    padding: 10px;
    margin:0 20px ;
}
.form .add{
    
       border: 2px #5f2b2b solid;
    border-radius: 5px;
    padding: 12px;
    background: brown;
    color: white;
    font-weight: 700;
    cursor: pointer;
}
.tasks{
   margin-top: 8%;
  align-items: center;
  margin: 40px 20%;
  background-color: rgb(198, 198, 198);
  padding: 20px 60px;
  border-radius: 6px;
      font-size: 20px;
      font-weight: 600;
      color: rgb(38, 37, 37);
      
    }
    .tasks div {
        background-color: rgb(230, 230, 230);
        margin-top: 12px;
        padding: 10px 20px;
        border-radius: 6px;
        
        display: flex;
    flex-direction: row;
    justify-content: space-between;
    }
