* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0f172a;
    font-family: Arial, sans-serif;
}
h1{
    color: #38bdf8;
    text-align: center;
    margin-top: 5%;
    font-size: 45px;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form {
    margin: 0 10%;
    margin-top: 8%;
    background-color: #1e293b; 
    padding: 40px;
    border-radius: 10px;
    text-align: center;
}

.form .input {
    width: 32%;
    height: 46px;
    border: 1px #38bdf8 solid; 
    border-radius: 5px;
    padding: 10px;
    margin: 0 20px;
    background-color: #020617;
    color: #e5e7eb;
}

.form .add {
    border: 2px #38bdf8 solid;
    border-radius: 5px;
    padding: 12px;
    background: #0284c7; 
    color: white;
    font-weight: 700;
    cursor: pointer;
}

.form .add:hover {
    background: #0369a1;
}


.tasks {
    margin-top: 8%;
    margin: 40px 20%;
    background-color: #020617;
    padding: 20px 60px;
    border-radius: 6px;
    font-size: 20px;
    font-weight: 600;
    color: #e5e7eb;
}

.tasks div {
    background-color: #1e293b;
    margin-top: 12px;
    padding: 10px 20px;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
