*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    
}
.form{
   margin-top: 8%;
   background-color: bisque;
}
.form .input{
    width: 32%;
    height: 46px;
    border: 3px #5f2b2b solid;
    border-radius: 5px;
    padding: 10px;
    margin:0 20px ;
}
.form .add{
    
       border: 2px #5f2b2b solid;
    border-radius: 5px;
    padding: 12px;
    background: brown;
    color: white;
    font-weight: 700;
    cursor: pointer;
}
.tasks{
   margin-top: 8%;
   width: 32%;
  align-items: center;
  width: 32%;
  margin: 40px 30%;


}